* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background: #1a0b2e;
}
.section {
  max-width: 75rem;
  margin: 0 auto;
}
h1 {
  font-size: 3.75rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: 800;
}
h2 {
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: 700;
}

header {
  border-bottom: 0.5px solid #412567;
}
.header {
  height: 5.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo a {
  text-decoration: none;
}
.header .logo img {
  width: 13.688rem;
  height: auto;
}
.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.navmenu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.navmenu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
  transition: color 0.3s ease;
}
.navmenu ul li a:hover {
  color: #ff6ea1;
}
.header .subscribe {
  background: #9100f8;
  background: linear-gradient(
    45deg,
    rgba(145, 0, 248, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(247, 233, 63, 1) 100%
  );
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 9999px; /* fully rounded */
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}
.header .subscribe:hover {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  transform: scale(1.05);
}
.hamburger button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.hero {
  background: url("./images/hero-bg.png") no-repeat center center;
  /* background-size: cover; */
  background-position: center center;
  width: 100%;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.microphone {
  background: #9100f8;
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  height: 21.875rem;
  width: 21.875rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 6.25rem;
  margin-bottom: 2.5rem;
  border: 8px solid #2a186c;
  padding: 10px;
}
.microphone img {
  height: 12.5rem;
  width: auto;
}
.microphone button {
  position: absolute;
  background: #00ff88;
  font-size: 1.125rem;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  color: #000000;
  box-shadow: 0 0 15px #00ff88;
  top: 15px;
  right: 20px;
  font-weight: 600;
  animation: button-color 1s infinite;
}

@keyframes button-color {
  0% {
    box-shadow: 0 0 15px #e5ff00;
    background: #e5ff00;
  }
  50% {
    box-shadow: 0 0 15px #e600ff;
    background: #e600ff;
  }
  100% {
    box-shadow: 0 0 15px #00ff88;
    background: #00ff88;
  }
}

.hero-content p {
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}
.hero-content .button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-top: 1.5rem;
  margin-bottom: 6.25rem;
}

.hero-content .button-group .spotify {
  background: #9100f8;
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  color: #ffffff;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero-content .button-group .spotify:hover {
  background: linear-gradient(
    45deg,
    rgba(145, 0, 248, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(247, 233, 63, 1) 100%
  );
}
.hero-content .button-group .message {
  color: #00ff88;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  border: 3px solid #00ff88;
  background: transparent;
  transition: all 0.3s ease;
}
.hero-content .button-group .message:hover {
  color: #000000;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  border: 3px solid #00ff88;
  background: #00ff88;
}
.about-the-Prodcust {
  margin-top: 3.125rem;
  margin-bottom: 5rem;
  background: #1a0b2e;
}
.about-the-Prodcust p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: center;
}
.about-the-Prodcust .first-para {
  margin: 1.5rem 2rem;
}
.hr {
  border-top: 0.5px solid #412567;
  margin: 2rem 2rem;
}
.count-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin: 5rem 0;
}
.count-section .count {
  padding: 0 1rem;
}
.count-section h3 {
  text-align: center;
  color: #00ff88;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.count-section p {
  text-align: center;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}
.why-choose-techwave {
  background: #230e3d;
}
.why-choose-techwave h2 {
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
}

.why-choose-techwave .parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
}
.why-choose-techwave .parent .item {
  background: #2a0f4d;
  padding: 2.5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div1 {
  grid-row: span 2 / span 2;
}

.div2 {
  grid-column: span 2 / span 2;
}

.div3 {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row-start: 3;
}

.div5 {
  grid-column-start: 3;
  grid-row-start: 3;
}

.why-choose-techwave .parent .item img {
  height: 3.75rem;
  width: 3.75rem;
  margin-bottom: 1rem;
}
.why-choose-techwave .parent .item h3 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.why-choose-techwave .parent .item p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.75rem;
}

.featured-episodes h2 {
  margin-top: 7.5rem;
}

/* video cards */
.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

.card {
  background: #250d44;
  width: 380px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  background: #301357;
}

.card iframe {
  width: 100%;
  min-height: 215px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .card-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  margin-top: 1.5rem;
}

.card-content p {
  font-size: 1rem;
  color: #ffffff;
  margin-top: 1rem;
  line-height: 1.5rem;
}

.card-content .duration {
  margin-top: 0.5rem;
  font-weight: 600;
  color: #00ff88;
}

.card-content button:hover {
  background: #0056b3;
}

.meet-the-host {
  margin-top: 2.5rem;
}
.meet-the-host h2 {
  margin-bottom: 2.5rem;
}
.host-info {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;

  margin-top: 2.5rem;
  padding: 2.5rem;
  background: #250d44;
  border-radius: 30px;
}
.host-content h2 {
  text-align: left;
  padding: 10px 0;
}
.host-content p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 1rem 0;
}
.host-content .social-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.host-content .social-links .host-img {
  height: 200px;
  width: 200px;
}
.host-content .social-links .social-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.host-content .social-links .social-links img{
  height: 2.5rem;
  width: 2.5rem;
}
footer {
  margin-top: 7.5rem;
  padding: 2rem 0;
  min-height: 25.75rem;
  text-align: center;
  background: url("./images/footer-bg.png") no-repeat center center ;
  background-size: cover;
}
.footer-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 7.5rem 0;
}
.footer-content img{
  width: 7.5rem;
  height: auto;

}
.footer-content .social-links{

  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer-content .social-links{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer-content p{
  color: #ffffff;
  text-decoration: none;
}

